<div class="footer-wrapper">
	<div class="link-wrapper">
		<a class="list" href="https://www.facebook.com/IndraSaswita/" target="_blank">
			<fa-icon [icon]="fabFacebookSquare"></fa-icon>
		</a>
		<a class="list" href="https://www.instagram.com/indrasaswita/" target="_blank">
			<fa-icon [icon]="fabInstagramSquare"></fa-icon>
		</a>
		<a class="list" href="https://www.linkedin.com/in/indra-saswita-a3138166/" target="_blank">
			<fa-icon [icon]="fabLinkedin"></fa-icon>
		</a>
		<a class="list" href="https://github.com/indrasaswita" target="_blank">
			<fa-icon [icon]="fabGithub"></fa-icon>
		</a>
	</div>
	Thank you for visiting <b class="clr-primary">{{hostname}}</b><br>
	&copy; <small>{{nowyear}}</small><br><br>
	I used Fontawesome Pro for icons.<br>
	Last Updated <b class="clr-primary">{{global.lastUpdate}}</b> &nbsp;<fa-icon [icon]="falHorizontalRule"></fa-icon> version {{global.version}}
</div>