.itemlist-wrapper{
	padding: 2vw;
	text-align: center;
}

.user{
	margin-top: calc(20px + 2vw);
	padding: calc(10px + 1vw) calc(50px + 5vw);
	b{
		color: #050;
	}
}

.loadMore{
	margin-bottom: calc(50px + 5vw);
	text-align: center;
}