.itemdetail-wrapper{
	margin: 0 auto;
	max-width: 800px;
	.itemdetail-header{
		display: flex;
		align-items: center;
		border-bottom: 2px solid #d8d8d8;
		padding: calc(1vw + 10px) calc(2vw + 20px);
		transition: .2s all;
		&.sold{
			opacity: .5;
		}
		.image{
			width: calc(10vw + 65px);
			height: calc(10vw + 65px);
			max-width: 165px;
			max-height: 165px;
			border-radius: 1vw;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			background-color: white;
			background-color: #ffaa0022;
			box-shadow: inset 0 calc(-1 * (20px + 2vw)) calc(20px + 2vw) calc(-1 * (10px + 1vw)) rgba(64,32,0,.2);
			border: 1px solid #d8d8d8;
			margin: 0 1.5vw 0 .5vw;
		}
		.text{
			flex: 1;
			line-height: 1.5;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			height: 100%;
			.category{
				text-transform: uppercase;
				font-weight: 800;
				font-size: 90%;
				color: #a94;
				line-height: 1.1;
				margin-bottom: 10px;
				fa-icon{
					font-size: 200%;
					color: #fa0;
				}
			}
			.name{
				font-size: 130%;
				color: rgba(0,0,0,.8);
				flex: 1;
				text-transform: capitalize;
			}
			.status{
				display: inline-block;
				font-size: 65%;
				font-weight: bold;
				color: white;
				padding: 2px 7px;
				border-radius: 1000px;
				text-transform: uppercase;
				&.active{
					background-color: #060;
				}
				&.sold{
					background-color: #666;
				}
				&.pending{
					background-color: #a94;
				}
			}
		}
		.bid{
			height: 100%;
			font-weight: bold;
			.ammount{
				background-color: white;
				font-size: 140%;
				color: #777;
				width: calc(4vw + 40px);
				height: calc(4vw + 40px);
				max-width: 80px;
				max-height: 80px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				border-radius: 1000px;
				border: 1px solid #d8d8d8;
				fa-icon{
					font-size: 130%;
				}
			}
			.lastbid{
				line-height: 1.2;
				color: rgba(0,0,0,.7);
				padding: 10px 0;
				text-align: center;
			}
		}
	}
	.itemdetail-auctions-wrapper{
		padding: calc(10px + 1vw) calc(5px + .5vw);
		app-itemdetail-detailauction{
		}
	}
}