.itemdetail-wrapper{
	margin: 0 auto;
	max-width: 800px;
	.itemdetail-header{
		display: flex;
		align-items: center;
		border-bottom: 2px solid #d8d8d8;
		padding: calc(1vw + 10px) calc(2vw + 20px);
		transition: .2s all;
		&.sold{
			opacity: .5;
		}
		.image{
			width: calc(10vw + 65px);
			height: calc(10vw + 65px);
			max-width: 165px;
			max-height: 165px;
			border-radius: 1vw;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			background-color: white;
			background-color: #ffaa0022;
			box-shadow: inset 0 calc(-1 * (20px + 2vw)) calc(20px + 2vw) calc(-1 * (10px + 1vw)) rgba(64,32,0,.2);
			border: 1px solid #d8d8d8;
			margin: 0 1.5vw 0 .5vw;
		}
		.text{
			flex: 1;
			line-height: 1.5;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			height: 100%;
			.category{
				text-transform: uppercase;
				font-weight: 800;
				font-size: 90%;
				color: #a94;
				line-height: 1.1;
				margin-bottom: 10px;
				fa-icon{
					font-size: 200%;
					color: #fa0;
				}
			}
			.name{
				font-size: 130%;
				color: rgba(0,0,0,.8);
				flex: 1;
				text-transform: capitalize;
			}
			.status{
				display: inline-block;
				font-size: 65%;
				font-weight: bold;
				color: white;
				padding: 2px 7px;
				border-radius: 1000px;
				text-transform: uppercase;
				&.active{
					background-color: #060;
				}
				&.sold{
					background-color: #666;
				}
				&.pending{
					background-color: #a94;
				}
			}
			.creator{
				line-height: 1.3;
				margin-top: calc(5px + .5vw);
			}
		}
		.bid{
			height: 100%;
			font-weight: bold;
			.ammount{
				background-color: white;
				font-size: 140%;
				color: #777;
				width: calc(4vw + 40px);
				height: calc(4vw + 40px);
				max-width: 80px;
				max-height: 80px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				border-radius: 1000px;
				border: 1px solid #d8d8d8;
				fa-icon{
					font-size: 130%;
				}
			}
			.lastbid{
				line-height: 1.2;
				color: rgba(0,0,0,.7);
				padding: 10px 0;
				text-align: center;
			}
		}
	}
	.itemdetail-auction-owner,
	.itemdetail-auction-sold {
		text-align: center;
		font-weight: 600;
		color: #444;
	}
	.itemdetail-auctions-wrapper,
	.itemdetail-auction-owner {
		padding: calc(10px + 1vw) calc(5px + .5vw);
		.auction-header-wrapper{
			display: flex;
			padding: 0 calc(2px + .2vw);
			font-size: 140%;
			.auction-bid-wrapper{
				flex: 1;
				padding: calc(.4vw + 4px) calc(.9vw + 9px) calc(.2vw + 2px);
				border-radius: 1000px;
				border: 2px dashed rgba(0,0,0,.3);
				margin-right: calc(4px + .4vw);
				text-align: center;
				input{
					width: 100px;
					text-align: center;
					border: 0;
					border-bottom: 1px solid rgba(0,0,0,.2);
				}
				.bid-btn{
					padding: 1px calc(10px + 1vw);
					border: 1px solid rgba(0,0,0,.2);
					background-color: rgba(0,0,0,.1);
					border-radius: 1000px;
					margin-left: calc(4px + .4vw);
					font-weight: 600;
					color: rgba(0,0,0,.7);
				}
			}
			.auction-autobid-toggle{
				flex: 1;
				.toggler{
					width: 100%;
					cursor: pointer;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					font-weight: 600;
					color: rgba(0,0,0,.65);
					padding: calc(.3vw + 3px) calc(.9vw + 9px);
					border-radius: 1000px;
					border: 2px dashed rgba(0,0,0,.3);
					fa-icon{
						font-size: 140%;
						margin-right: calc(.5vw + 5px);
					}
				}
			}
		}
		.auction-header-errormessage{
			width: 100%;
			text-align: center;
			color: #a22;
			font-weight: 600;
			padding: calc(10px + 1vw) calc(5px + .5vw);
		}
		.detail-auction-wrapper{
			margin-top: calc(10px + 1vw);
		}
		.no-auctions{
			display: block;
			text-align: center;
			padding: calc(2.5vw + 25px) calc(5vw + 40px);
			margin-top: calc(2.5vw + 25px);
			background-color: #aa000008;
			border: 1px solid #aa000077;
			box-shadow: inset 0 0 calc(3vw + 30px) 0 #aa000033;
			font-weight: bold;
			color: #a33;
			fa-icon{
				font-size: 200%;
				margin-bottom: calc(10px + 1vw);
				color: #a00;
				--fa-secondary-color: #050;
			}
		}
	}
}