@import "../variables.scss";

.d-flex {
	overflow-x: hidden;
	&.toggled {
		#sidebar-wrapper{
			margin-left: 0;
		}
	}
}

#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
	.sidebar-heading {
		padding: 1.875rem 1.7rem 1rem;
		font-size: 107%;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.1;
		font-weight: bold;
		max-width: 15rem;
	}
	.list-group {
		width: 15rem;
		.list-group-item{
			padding: 10px 0 !important;
			background-color: transparent;
			cursor: pointer;
			transition: 0.2s all;
			.label{
				padding: 0 15px;
			}
			&:hover{
				border-left: 5px solid #aaa;
				.detail-wrapper{
					.list-detail{
						padding-left: 20px !important;
					}
				}
			}
			&.selected{
				border-left: 5px solid darken($primary-color, 10%);
				.label{
					color: darken($primary-color, 20%);
					font-weight: bold;
				}
				.detail-wrapper{
					.list-detail{
						padding-left: 20px !important;
					}
				}
			}
			.detail-wrapper{
				list-style: none;
				padding: 0;
				margin: 10px 0 5px;
				.list-detail{
					transition: 0.2s all;
					padding: 5px 0 5px 25px;
					font-size: 90%;
					color: #777;
					a{
						color: inherit;
						&:hover,
						&:focus{
							text-decoration: none;
							color: darken($primary-color, 10%);
						}
						&.selected{
							color: darken($primary-color, 10%);
						}
					}
				}
			}
		}
	}
}

#page-content-wrapper {
	min-width: 100vw;
	.navbar{
		.btn.falist{
			background-color: darken($primary-color, 10%);
			color: white;
		}
		.heading-wrapper{
			text-align: center;
			width: 100%;
			.heading{
				display: inline-flex;
				font-size: 120%;
				letter-spacing: .5px;
				font-weight: 600;
				font-family: Google;
				color: darken($primary-color, 5%);
				&:after{
					content: "\0020";
					width: 12vw;
					height: 2px;
					display: block;
					opacity: .5;
					background-color: darken($primary-color, 10%);
					margin: calc(1rem + 5px) 0 0 -12vw;
				}
			}
		}
		.navbar-list-block{
			color: $primary-color;
			display: flex;
			width: 100%;
			.heading{
				display: inline-flex;
				font-size: 105%;
				letter-spacing: .5px;
				font-weight: 600;
				font-family: Google;
				color: darken($primary-color, 5%);
				align-items: center;
				margin-right: 20px;
			}
			.navbar-nav{
				flex: 1;
				justify-content: flex-end;
				> li > .btn{
					font-weight: bold;
					font-size: 85%;
					color: #888;
					text-transform: uppercase;
					font-family: Google;
				}
				.dropdown-menu{
					button{
						font-size: 85%;
						padding: 10px 16px;
						line-height: 1;
						font-weight: bold;
						&:not(:first-child){
							border-top: 1px solid #eee;
						}
						&:hover{
							background-color: #eee;
							color: darken($primary-color, 7%);
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	.d-flex {
		overflow-x: hidden;
		&.toggled {
			#sidebar-wrapper{
				margin-left: -15rem;
			}
		}
	}
}

.router-outlet{
	min-height: calc(100vh - 200px);
}