@import '../../../variables.scss';

@media screen and (max-width:450px){
	.home-wrapper{
		.home-row{
			padding: calc(#{$spv-xs} * 2) calc(#{$sph-xs} * 3);
			&.intro{
				> .text{
					max-width: 73%;
				}
			}
		}
	}
}

@media screen and (min-width:451px) and (max-width:767px){
	.home-wrapper{
		.home-row{
			padding: calc(#{$spv-sm} * 2) calc(#{$sph-sm} * 3);
			&.intro{
				> .text{
					max-width: 65%;
				}
			}
		}
	}
}

@media screen and (min-width:768px) and (max-width:991px){
	.home-wrapper{
		.home-row{
			padding: calc(#{$spv-md} * 2) calc(#{$sph-md} * 3);
			&.intro{
				> .text{
					max-width: 58%;
				}
			}
		}
	}
}

@media screen and (min-width:992px) and (max-width:1200px){
	.home-wrapper{
		.home-row{
			padding: calc(#{$spv-lg} * 2) calc(#{$sph-lg} * 3);
			&.intro{
				> .text{
					max-width: 53%;
				}
			}
		}
	}
}

@media screen and (min-width:1201px){
	.home-wrapper{
		.home-row{
			padding: calc(#{$spv-xl} * 2) calc(#{$sph-xl} * 3);
			&.intro{
				> .text{
					max-width: 45%;
				}
			}
		}
	}
}

@keyframes flipflop {
	0% {opacity: 0;}
	49% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 1;}
}

.home-wrapper{
	.home-row{
		.divider{
			width: 4vw;
		}
		font-family: 'Cabin';
		&:nth-child(odd){
			background-color: #f4f4f4;
		}
		&:nth-child(even){
			background-color: white;
		}
		.badge{
			background-color: $primary-color;
			color: white;
			display: inline-block;
			padding: 4px 10px;
			font-weight: 500;
		}
		&.image{
			display: flex;
			flex-wrap: wrap;
			.image{
				display: inline-block;
				flex: 1;
				background-image: url('/assets/images/home-aboutme.png');
				background-position: center right;
				background-size: cover;
			}
			.text{
				display: inline-block;
				flex: 1;
			}
		}
		&.intro{
			background-image: url("/assets/images/cover-is.png");
			background-size: contain;
			background-position: right bottom;
			background-repeat: no-repeat;
		}
		&.experience > .text{
			.exp-wrapper{
				display: flex;
				padding: 3vw 0 2vw;
				ul.exp{
					flex: 1;
					border-left: 2px solid #e4e4e4;
					border-bottom-right-radius: 4px;
					border-top-right-radius: 4px;
					position: relative;
					padding: 10px 20px;
					list-style: none;
					text-align: left;
					line-height: 28px;
					margin-left: 105px;
					margin-top: 0;
					margin-bottom: 0;
					margin-right: 0;
					li.list{
						margin-top: 3vw;
						position: relative;
						line-height: 1.4;
						.type{
							font-weight: 800;
							text-transform: uppercase;
							font-size: 80%;
							opacity: .4;
						}
						.title{
							text-transform: uppercase;
							font-weight: 600;
							opacity: .9;
							margin-bottom: 10px;
							font-size: 110%;
						}
						.text{
							font-weight: 500;
							font-size: 85%;
							opacity: .55;
						}
						&:first-child{
							margin-top: 0;
							padding-bottom: 0;
						}
						.data-date{
							left: -157.5px;
							// content: attr(data-date);
							text-align: right;
							min-width: 120px;
							color: rgba(0,0,0,.5);
							font-style: italic;
							font-weight: 900;
							font-size: 87%;
							position: absolute;
							display: block;
						}
						&:after{
							left: -23.85px;
							background: $primary-color;
							border-radius: 50%;
							height: 6px;
							width: 6px;
							content: "\0020";
							top: 7px;
							position: absolute;
							display: block;
						}
					}
				}
			}
		}
		&.skill > .text{
			.skill-wrapper{
				display: flex;
				> .skill-container{
					padding: 0;
					flex: 1;
					p{
						line-height: 1.6;
					}
					.list{
						list-style: none;
						padding: 5px 0;
						&:not(:first-child){
							margin-top: .2vw;
						}
						.title{
							font-weight: bold;
							font-size: 89%;
							margin-bottom: 5px;
							padding: 0 10px;
							color: rgba(0,0,0,.7);
						}
						.bar{
							width: 100%;
							height: 1vw;
							background-color: rgba(0,0,0,.1);
							border-radius: 1000px;
							.fill{
								content: '\0020';
								height: 1vw;
								background-color: lighten($primary-color, 10%);
								opacity: .7;
								border-radius: 1000px;
							}
						}
					}
				}
			}
		}
		.button-wrapper{
			padding: 1vw 0;
			button.btn{
				min-width: calc(12vw + 4vw);
			}
			a.btn{
				min-width: calc(12vw - 2px);
			}
			a.btn,
			button.btn{
				text-align: center;
				display: inline-block;
				text-decoration: none;
				font-size: 90%;
				font-family: inherit;
				font-weight: 600;
				letter-spacing: .5px;
				padding: .5rem 2vw;
				border: 1px solid $primary-color;
				border-radius: .15rem;
				cursor: pointer;
				transition: .2s all;
				&:not(:first-child){
					margin-left: .6vw;
				}
				&.btn-primary{
					background-color: $primary-color;
					color: white;
					&:hover,
					&:focus{
						background-color: darken($primary-color, 10%);
						color: white;
					}
				}
				&.btn-outline-primary{
					background-color: white;
					color: $primary-color;
					&:hover,
					&:focus{
						background-color: darken($primary-color, 10%);
						color: white;
					}
				}
			}
		}
		> .text{
			> .title{
				font-size: 210%;
				font-weight: bold;
				line-height: 1;
				letter-spacing: .5px;
				color: rgba(0,0,0,.7);
				padding: 15px 0 5px;
				.clr-primary{
					background-color: $primary-color;
					background: $primary-color;
					background: linear-gradient(0deg, darken($primary-color, 30%) 0%, $primary-color 50%, $primary-color 100%);
					color: transparent;

					-webkit-background-clip: text;
					-moz-background-clip: text;
					background-clip: text;
				}
			}
			> .subtitle{
				font-size: 135%;
				font-weight: 500;
				line-height: 1.2;
				color: rgba(0,0,0,.8);
				padding: 5px 0 15px;
			}
			> .quote{
				font-size: 110%;
				color: rgba(0,0,0,.6);
				padding: 10px 0;
				padding-left: calc(6vw + 10px);
				&:after{
					content: '\0020';
					background-color: $primary-color;
					width: 6vw;
					height: 0.1vw;
					margin-left: calc((6vw + 10px) * -1);
					margin-top: calc(-0.4vw - 6px);
					display: block;
				}
			}
			> .content{
				font-size: 90%;
				line-height: 1.6;
				color: rgba(0,0,0,.6);
				padding: 15px 0;
				font-weight: 500;

				.flipflop{
					background-color: transparent;
					color: transparent;
					display: inline-block;
					width: 1vw;
					border-left: 1px solid #777;
					margin-left: 1px;
					opacity: 0;
					&.active{
						animation: flipflop .5s infinite;
					}
				}
			}
			> .link-wrapper{
				.list{
					color: rgba(0,16,32,.9);
					font-size: 170%;
					transition: .2s all;
					&:not(:first-child){
						margin-left: 8px;
					}
					&:hover{
						color: lighten($primary-color, 10%);
					}
				}
			}
		}
	}
}