<div class="home-wrapper">
	<h3>Hi and welcome.</h3>
	This is my small project. A small monolith system for auction. <br>There are 8 users are hardcoded and cannot be added by user.
	<br><br>
	<h5>Login System</h5>
	Login were hardcoded, so you can access the project by type 'user1' until 'user 8' at userkey field. And 'password' at password field. When you have already logged-in, you can see your user fund. <br>
	Note: You cannot bet more than your fund.
	<br><br>
	<h5>Item List System</h5>
	At home page, you can see all items which are already listed on database. All items can be clicked, even if they are already sold. Each item will be show in each card by its name, banner, and status. Also the auction status and price. The sold item, will appear with more transparency.
	<br><br>
	<h5>Item Detail System</h5>
	When you clicked into the item, it will go directly to its detail. In that page, will be separated into 3 sections: <br>
	<ol>
		<li>
			<b>Section of Login: </b> <br>
			You will be asked for userkey and password here. If you are not logged-in, you cannot access its detail.
		</li>
		<li>
			<b>Section of Header: </b> <br>
			After you enter your account, it will show you the detail of item and the last amount of bet, and also the status.
		</li>
		<li>
			<b>Section of Auction Detail: </b> <br>
			When item status is 'Draft'. As item owner, you can "Open for Auction" and create auction expire time.<br><br>

			When item status is 'Active'. As item owner, you cannot bet like other people. As other people, you can go betting, OR you can toggle the auto bid button (it will help you betting until your maximum bet amount).<br><br>

			Each minutes, the system will check all the 'Active' items. When the items has been expired, the auction will be closed and set the status to be 'Sold', and also transfer the fund from the buyer to seller.<br><br>

			When item status is 'Sold'. You are not allowed to see the auction list again.
		</li>
	</ol>
	<br><br>


	<br><br>
	<div class="text-center">
		<a class="btn btn-primary" href="/auction/itemlist">
			Go To Project
		</a>
	</div>
</div>
