$primary-color: #905 !default;

$spv-xs: 10px !default; 
$spv-sm: 13px !default; 
$spv-md: 20px !default; 
$spv-lg: 30px !default; 
$spv-xl: 40px !default; 

$sph-xs: 8px !default; 
$sph-sm: 20px !default; 
$sph-md: 33px !default; 
$sph-lg: 53px !default; 
$sph-xl: 73px !default; 


