@import "../../../variables.scss";

.scroll-to-top {
	position: fixed;
	bottom: 15px;
	right: 15px;
	opacity: 0;
	transition: all .2s ease-in-out;
	button{
		border: 1px solid white;
		border-radius: 6px;
		background-color: $primary-color;
		color: white;
		padding: .5vw 1vw;
		display: inline-flex;
		flex-direction: center;
		align-items: center;
		cursor: pointer;
		outline: none;
		box-shadow: 2px 2px 5px 0px rgba(0,0,0,.2);
		&:hover,
		&:focus{
			background-color: darken($primary-color, 10%);
		}
	}
}
.show-scrollTop {
	opacity: 1;
	transition: all .2s ease-in-out;
}